/*** flex-grid ***/

.container {
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-4 {
  flex-basis: 33.3333%;
  width: 33.3333%;
  max-width: 33.3333%;
}

.col-6 {
  flex-basis: 49.9998%;
  width: 49.9998%;
  max-width: 49.9998%;
}


/*** header ***/

.header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ubereats-logo-top {
  padding-right: 22px;
}

.restaurant-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asap {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.to {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  color: #626262;
  margin-top: 24px;
  margin-bottom: 24px;
  margin: 0px 9px;
}

.location {
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  width: 292px;
}

.location img {
  padding-top: 12.5px;
  padding-bottom: 12.71px;
  padding-left: 12px;
  padding-right: 0px;
}  

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;    
  color: #1D1D1D;
  padding: 8px;
  padding-left: 12px;
}

.user-identification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.sing-in {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  text-align: center;
  color: #1D1D1D;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.register {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  color: #FFFFFF;
  background: #262626;
  border-radius: 2px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 27px;
  cursor: pointer;
}

.search-content {
  display: flex;
  margin-top: 24px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px rgba(75, 75, 75, 0.3);
  width: 100%;
}

.search-content img {
  padding-right: 4px;
}

.search-content input {
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-left: 4px;
  width: 232px;
}

.restaurants-moscow {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 22px;
  color: #1D1D1D;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-top: 20px;
}

.restaurant-card {
  margin-bottom: 16px;
}

.restaurant-card img {
  max-width: 100%;
}

.restaurants {
  padding-bottom: 16px;
  margin-bottom: 64px;
}

.restaurant-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #1D1D1D;
}

.restaurant-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.restaurant-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 13px;
  color: #1D1D1D;
}

/*** footer ***/

.footer {
  background: #262626;
}

.ubereats--big-logo {
  padding-top: 56px;
  padding-bottom: 40px;
  border-bottom: solid 1px #FFFFFF;
}

.footer-content-top {
  padding-top: 32px;
  padding-bottom: 24px;
}

.drop-down-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3B3B3B;
  border-radius: 2px;
  width: 228px;
  height: 40px;
}

.world-img {
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.eng {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;
  color: #FFFFFF;
  padding-left: 8px;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.arrow-icon {
  padding-left: 52px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hashtag {
  margin-top: 32px;
}

.hashtag-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.sharp {
  color: #49A144;
}

.social-media {
  display: flex;
  margin-top: 18px;
}

.social-icon {
  margin-right: 12px;
}

.about-partnership {
  padding-top: 8px;
}

.about-partnership-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.about-help {
  padding-top: 8px;
}

.about-help-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.mobile-app-stores {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
}

.apple-store-icon {
  width: 120px;
  height: 40px;
  margin: 0px 20px;
}

.google-store-icon {
  width: 135px;
  height: 40px;
  margin: 0px 20px;
}

.footer-content-bottom {
  border-top: solid 1px #FFFFFF;
  padding-top: 40px;
  padding-bottom: 48px;
}

.privacy-terms {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  color: #FFFFFF;
}

.anchor-line {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 24px;
  right: 16px;
}

.anchor {
  height: 80px;
  width: 80px;
}

.anchor img {
  padding: 28px 32px 24px 32px;
  background: #59bd5a;
  border-radius: 2px;
}